html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
* { box-sizing:border-box; margin:0; padding:0; }

 *:before, *:after {
    box-sizing: inherit;
}

   body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  canvas {
    display: block;  /* prevents scrollbar */
    width: 100%;
    height: 100%;
    image-rendering:pixelated; 
  }
